*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;    
    text-decoration: none;
    list-style: none;
}


body {
    background-color: #f6f874;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}


.content {
    min-height: 88px;

    background-color: #f7f89f;
}


.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    font-size: 25px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
}


.menu .navbar ul li {
    position: relative;
    float: left;
}


.menu .navbar ul li a {
    color: #6e6767;
    font-size: 18px;
    padding: 20px;
    display: block;
    font-weight: bold;
}


.menu .navbar ul li a:hover {
    color: #000000;
}


#menu {
    display: none;
 }


.menu-icono {
    width: 25px;
}


.menu-label {
    cursor: pointer;
    display: none;
}


@media (max-width:600px) {
    .content {
        top: 0;
        bottom: 0;
        width: 100%;
        overflow: auto;
    }
}


.title {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    color: #000000;
    margin: 10px;
}



.hr {
    color: #000000;
}



.texto {
    position: absolute;
    text-align: center;
    padding: 0 10%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
}


@media(max-width: 600px) {
    body {
        padding: 30px;
    }


    .texto {
        top: 50px;
        padding: 0 250px;
    }


    .texto h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }


    .texto p {
        font-size: 15px;
    }
}

.hermanos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    min-height: 300px;
}


main {
    flex: 1;
    margin-bottom: 10px;
}

main h1 {
    margin-bottom: 10px; 
}

main li {
    margin-top: 10px;
    margin-bottom: 20px;
}


aside {
    flex: 0 0 250px; 
    align-content: end;
    background-color: #f7f89f;
    border: 1px solid black; 
    width: 300;
    max-width: 350;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.final {
    color: #000000;
    background-color: #f7f89f;
    padding: 5%;
}






